/*this style is for the paragraph*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.logo-container {
    display: inline-block;
    color: white;
}
.logo-container img {
    width: 200px;
}
header {
    background: #231f20;
    padding: 20px
}
.nav-container {
    text-align: right;
    padding: 82px;
    float: right;
}
nav.header-navigation a {
    font-size: 18px;
    margin: 20px;
    text-decoration: none;
    color: white;
}
section.banner-section {
    background: #fff url(../images/banner.jpg) no-repeat;
    background-size: cover;
    text-align: center;
}
.banner {
    padding: 120px;
}
h1 {
    text-align: center;
    font-size: 55px;
    color: white;
    text-shadow: 3px 3px #1a301a;
}
.info {
    width: 25%;
    display: inline-block;
    padding: 20px;
    margin: 30px;
    background: #2b482b;
    border-radius: 50px;
}
h2 {
    color: white;
}
section.about-section {
    background: #231f20;
    padding: 50px;
    text-align: center;
    font-size: 28px;
    background-image: linear-gradient(to right, black , #233223);
    height: 125vh;
}
h3 {
    color: white;
    margin-bottom: 30px
}
.about-text {
    color: white;
}
p {
    background: #2b482b;
    padding: 20px;
    border-radius: 60px;
}
.banner-project {
    background: #fff url(../images/background.jpg) no-repeat;
    background-size: cover;
    text-align: center;
    padding: 40px
}
h4 {
    font-size: 35px;
    margin-bottom: 25px;
}
.col {
    width: 25%;
    padding: 15px;
    display: inline-block;
    background: #2b482b;
    color: white;
    margin: 25px;
    border-radius: 30px
}
span {
    font-size: 20px
}
h5 {
    font-size: 20px
}
.row {
    width: 25%;
    padding: 20px;
    display: inline-block;
    background: #2b482b;
    color: white;
    margin: 25px;
    border-radius: 15px
}
section.button-section {
    background: #231f20;
    font-size: 40px;
    padding: 35px;
    text-align: center;
}
h6 {
    color: white;
    margin-bottom: 15px;
}
button {
    border-radius: 100px;
    font-size: 25px;
    padding: 10px;
}
.about-pic img {
    float: left;
    width: 25%;
    margin: 60px;
    margin-left: 240px;
    border-radius: 40px;;
}
.pic-info p {
    background: #2b482b;
    padding: 20px;
    border-radius: 60px;
    width: 25%;
    float: right;
    margin-top: 12.5%;
    height: 7vh;
    margin-right: 280px;
}
.discord p {
    background: #2b482b;
    padding: 20px;
    border-radius: 60px
}
.discord span {
    font-size: 20px;
}
